<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
  <head>
    <title>Master that disaster!</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jq/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/js/jq/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="/js/utils/o.js"></script>
    <script type="text/javascript" src="/js/dvl/d3.js"></script>
    <script type="text/javascript" src="/js/dvl/d3.geo.js"></script>
    <script type="text/javascript" src="/js/dvl/protovis-r3.2.js"></script>
    <script type="text/javascript" src="/js/dvl/sprintf.js"></script>
    <script type="text/javascript" src="/js/dvl/dvl.js"></script>
    <script type="text/javascript" src="/js/_/init.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="canvas"></div>    
      <section>
        <label>Time:</label> 
        <div id="scale">
          <span>1950</span> 
         </div>
      </section>
    </div>
  </body>
</html>
