<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
  <head>
    <title>A DISASTER STRUCK</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/jq/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/js/jq/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="/js/utils/o.js"></script>
    <script type="text/javascript" src="/js/dvl/d3.js"></script>
    <script type="text/javascript" src="/js/dvl/d3.geo.js"></script>
    <script type="text/javascript" src="/js/dvl/protovis-r3.2.js"></script>
    <script type="text/javascript" src="/js/dvl/sprintf.js"></script>
    <script type="text/javascript" src="/js/dvl/dvl.js"></script>
    <script type="text/javascript" src="/js/figue.js"></script>
    <script type="text/javascript" src="/js/_/heatmap.js"></script>
    <script type="text/javascript" src="/js/_/init.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Disaster Strikes</h1>
        <h2>A World in Sight</h2>
        <div style="clear:both"></div>
        <label>now viewing those:</label><div id="buttons"></div>
        <div id="toggleOnOff"></div>
        <div id="scale_label">1950</div> 
      </header>
      <div id="canvas">
      </div>    
      <footer>
        <section>
          <label>t:</label> 
          <div id="scale"></div>
          <button id="play">Go</button>
          <button id="pause">Pause</button>
        </section>
      </footer>
  </body>
</html>
